In [12]:
import pandas as pd

In [13]:
df = pd.read_csv("global_superstore_2016.csv",encoding='cp1252')
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,11-11-2014,11/13/2014,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.770,High
1,26341,IN-2014-JR162107-41675,02-05-2014,02-07-2014,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,($288.77),923.630,Critical
2,25330,IN-2014-CR127307-41929,10/17/2014,10/18/2014,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID","$5,175.17",9,0.1,$919.97,915.490,Medium
3,13524,ES-2014-KM1637548-41667,1/28/2014,1/30/2014,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless","$2,892.51",5,0.1,($96.54),910.160,Medium
4,47221,SG-2014-RH9495111-41948,11-05-2014,11-06-2014,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed","$2,832.96",8,0.0,$311.52,903.040,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,29002,IN-2015-KE1642066-42174,6/19/2015,6/19/2015,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,...,OFF-FA-3072,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",$65.10,5,0.0,$4.50,1.010,Medium
51286,34337,US-2014-ZD21925140-41765,05-06-2014,05-10-2014,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,...,FUR-FU-4070,Furniture,Furnishings,"Eldon Image Series Desk Accessories, Burgundy",$16.72,5,0.2,$3.34,1.930,High
51287,31315,CA-2012-ZD21925140-41147,8/26/2012,8/31/2012,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,...,OFF-AR-5321,Office Supplies,Art,Newell 341,$8.56,2,0.0,$2.48,1.580,High
51288,9596,MX-2013-RB1979518-41322,2/17/2013,2/21/2013,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,...,OFF-BI-2919,Office Supplies,Binders,"Acco Index Tab, Economy",$13.44,2,0.0,$2.40,1.003,Medium
51289,6147,MX-2013-MC1810093-41416,5/22/2013,5/26/2013,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,...,OFF-PA-3990,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",$61.38,3,0.0,$1.80,1.002,High

- Replace '/' with '-' in 'Order Date' and 'Ship Date' columns

In [14]:
import pandas as pd
# Replace '/' with '-' in 'Order Date' and 'Ship Date' columns
df['Order Date'] = df['Order Date'].str.replace('/', '-')
df['Ship Date'] = df['Ship Date'].str.replace('/', '-')


print(df[['Order Date', 'Ship Date']].head(10))

   Order Date   Ship Date
0  11-11-2014  11-13-2014
1  02-05-2014  02-07-2014
2  10-17-2014  10-18-2014
3   1-28-2014   1-30-2014
4  11-05-2014  11-06-2014
5   6-28-2014  07-01-2014
6  11-06-2012  11-08-2012
7   4-14-2013   4-18-2013
8  11-11-2014  11-13-2014
9  03-06-2012  03-07-2012

- Observe the columns 'Sales' and 'Profit'

In [15]:
import pandas as pd

for col in ['Sales', 'Profit']:
    df[col] = df[col].str.replace(',', '')
    df[col] = df[col].str.replace(')', '')
    df[col] = df[col].str.replace('$', '')
    df[col] = df[col].str.replace('(', '-')

print(df[['Sales', 'Profit']].head(10))

      Sales   Profit
0   221.98    62.15
1  3709.40   -288.77
2  5175.17   919.97
3  2892.51    -96.54
4  2832.96   311.52
5  2862.68   763.28
6  1822.08   564.84
7  5244.84   996.48
8   341.96    54.71
9    48.71     5.48

In [16]:
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,11-11-2014,11-13-2014,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221.98,2,0.0,62.15,40.770,High
1,26341,IN-2014-JR162107-41675,02-05-2014,02-07-2014,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.40,9,0.1,-288.77,923.630,Critical
2,25330,IN-2014-CR127307-41929,10-17-2014,10-18-2014,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.17,9,0.1,919.97,915.490,Medium
3,13524,ES-2014-KM1637548-41667,1-28-2014,1-30-2014,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless",2892.51,5,0.1,-96.54,910.160,Medium
4,47221,SG-2014-RH9495111-41948,11-05-2014,11-06-2014,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.96,8,0.0,311.52,903.040,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,29002,IN-2015-KE1642066-42174,6-19-2015,6-19-2015,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,...,OFF-FA-3072,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",65.10,5,0.0,4.50,1.010,Medium
51286,34337,US-2014-ZD21925140-41765,05-06-2014,05-10-2014,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,...,FUR-FU-4070,Furniture,Furnishings,"Eldon Image Series Desk Accessories, Burgundy",16.72,5,0.2,3.34,1.930,High
51287,31315,CA-2012-ZD21925140-41147,8-26-2012,8-31-2012,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,...,OFF-AR-5321,Office Supplies,Art,Newell 341,8.56,2,0.0,2.48,1.580,High
51288,9596,MX-2013-RB1979518-41322,2-17-2013,2-21-2013,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,...,OFF-BI-2919,Office Supplies,Binders,"Acco Index Tab, Economy",13.44,2,0.0,2.40,1.003,Medium
51289,6147,MX-2013-MC1810093-41416,5-22-2013,5-26-2013,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,...,OFF-PA-3990,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.38,3,0.0,1.80,1.002,High

- fix all data type

In [17]:
df['Order Date']=df['Order Date'].astype('datetime64[ns]')
df['Ship Date']=df['Ship Date'].astype('datetime64[ns]')
df['Sales'] = df['Sales'].astype(float)
df['Profit'] = df['Profit'].astype(float)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  datetime64[ns]
 3   Ship Date       51290 non-null  datetime64[ns]
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   Postal Code     9994 non-null   float64
 9   City            51290 non-null  object
 10  State           51290 non-null  object
 11  Country         51290 non-null  object
 12  Region          51290 non-null  object
 13  Market          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  float64
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  float64
 22  Shipping Cost   51290 non-null  float64
 23  Order Priority  51290 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(2), object(15)
memory usage: 9.4+ MB

- Q no1. total, how many orders have cross the shipping cast of 500?

In [19]:
import pandas as pd


high_shipping_orders = df[df['Shipping Cost'] > 500]

total_high_shipping_orders = high_shipping_orders.shape[0]

print("Total number of orders with shipping cost > 500:", total_high_shipping_orders)

Total number of orders with shipping cost > 500: 120

- Q no2 count the number of segments, contries, regions, markets, categories, and sub-categries present in the global_superstore_2016 data.

In [20]:
import pandas as pd

columns_to_count = ['Segment', 'Country', 'Region', 'Market', 'Category', 'Sub-Category']

for col in columns_to_count:
    unique_count = df[col].nunique()
    print(f"Number of unique {col}: {unique_count}")

Number of unique Segment: 3
Number of unique Country: 165
Number of unique Region: 23
Number of unique Market: 5
Number of unique Category: 3
Number of unique Sub-Category: 17

- Q no3 get the list of order ids where the indian customer's have brought the things under the category 'technology' after paying the shipping cost more then 500

In [21]:
import pandas as pd

filtered_df = df[
    (df['Country'] == 'India') &
    (df['Category'] == 'Technology') &
    (df['Shipping Cost'] > 500)
]
order_ids = filtered_df['Order ID'].unique()

print("Order IDs where Indian customers bought Technology with Shipping Cost > 500:")
print(order_ids)

Order IDs where Indian customers bought Technology with Shipping Cost > 500:
['IN-2015-BF1100558-42319' 'IN-2015-SW2027558-42125'
 'IN-2013-SG2047058-41424' 'IN-2013-GP1474058-41419']

- Q no4. get the list of order ids where the indian customer's have brought the thing under the category 'technology' the sales greaterthen 500.

In [22]:
import pandas as pd

filtered_df = df[
    (df['Country'] == 'India') &
    (df['Category'] == 'Technology') &
    (df['Sales'] > 500)
]
order_ids = filtered_df['Order ID'].unique()

print("Order IDs where Indian customers bought Technology with Sales > 500:")
print(order_ids)

Order IDs where Indian customers bought Technology with Sales > 500:
['IN-2015-BF1100558-42319' 'IN-2015-SW2027558-42125'
 'IN-2013-SG2047058-41424' 'IN-2013-GP1474058-41419'
 'IN-2014-SV2081558-41968' 'IN-2015-AP1072058-42284'
 'IN-2015-CR1282058-42294' 'IN-2012-AB1010558-41270'
 'IN-2014-CA1277558-41802' 'IN-2015-AF1088558-42222'
 'IN-2012-CL1270058-41226' 'IN-2012-MG1820558-40962'
 'IN-2015-CY1274558-42300' 'IN-2014-MR1754558-41954'
 'IN-2015-CC1247558-42129' 'IN-2013-NZ1856558-41398'
 'IN-2012-DM1352558-41123' 'IN-2013-DL1333058-41328'
 'IN-2013-BW1111058-41404' 'IN-2014-JE1561058-41895'
 'IN-2013-LW1682558-41376' 'IN-2012-DP1316558-41173'
 'IN-2013-CS1246058-41609' 'IN-2013-CC1268558-41619'
 'IN-2015-JW1522058-42101' 'IN-2013-TB2119058-41552'
 'IN-2014-LR1691558-41899' 'IN-2015-DM1334558-42182'
 'IN-2014-ZC2191058-41760' 'IN-2014-DK1298558-41863'
 'IN-2014-MS1798058-41801' 'IN-2014-LB1679558-41893'
 'IN-2014-CC1237058-41710' 'IN-2014-GZ1447058-41721'
 'IN-2014-AS1028558-41877' 'IN-2012-LR1703558-41195'
 'IN-2013-SW2024558-41425' 'IN-2013-FG1426058-41509'
 'IN-2012-DH1367558-41233' 'IN-2012-GT1471058-41158'
 'IN-2013-EC1405058-41605' 'IN-2014-RA1928558-41863'
 'IN-2015-RB1946558-42326' 'IN-2014-MG1820558-41853'
 'IN-2014-AM1036058-41664' 'IN-2012-DM1295558-41142'
 'IN-2013-DP1316558-41623' 'IN-2013-HH1501058-41576'
 'IN-2015-LB1679558-42033' 'IN-2014-AB1060058-41858'
 'IN-2015-KW1657058-42083' 'IN-2014-BO1135058-41783'
 'IN-2015-GW1460558-42173' 'IN-2013-NG1843058-41319'
 'IN-2014-AS1013558-41817' 'IN-2015-JH1618058-42277'
 'IN-2013-MD1786058-41544' 'IN-2012-BF1121558-40955'
 'IN-2014-AA1064558-41779' 'ID-2014-MJ1774058-41814'
 'IN-2015-RB1946558-42355' 'IN-2012-KB1660058-41046'
 'ID-2014-EM1396058-41901' 'IN-2014-NG1843058-41996'
 'IN-2013-RB1936058-41405' 'IN-2012-EH1399058-41187'
 'IN-2013-LB1673558-41604' 'IN-2015-RE1945058-42346'
 'IN-2013-RL1961558-41550' 'IN-2014-MH1745558-41893'
 'ID-2013-CR1273058-41517' 'IN-2015-CC1237058-42160'
 'IN-2014-DW1348058-41852' 'IN-2014-TB2159558-41968'
 'IN-2014-CM1238558-41755' 'IN-2015-SV2093558-42321'
 'IN-2014-MS1798058-41867' 'IN-2015-JO1528058-42242'
 'IN-2015-VP2173058-42085' 'IN-2014-NL1831058-41927'
 'IN-2012-SC2023058-41081' 'IN-2015-JR1570058-42290'
 'IN-2015-VP2176058-42293' 'IN-2012-JS1588058-41058'
 'IN-2012-DL1349558-41215' 'IN-2012-BM1178558-41124'
 'IN-2012-MV1819058-40988' 'IN-2014-SZ2003558-41776'
 'IN-2013-AR1034558-41531' 'IN-2013-RO1978058-41296'
 'IN-2013-BF1102058-41556' 'IN-2015-CP1234058-42239'
 'IN-2012-LC1696058-41241' 'IN-2014-CS1213058-41816'
 'IN-2015-DJ1363058-42153' 'IN-2015-AO1081058-42224'
 'IN-2013-AR1057058-41632' 'IN-2014-VT2170058-41804'
 'IN-2015-CC1210058-42237' 'IN-2012-DA1345058-41264'
 'IN-2012-LA1678058-41247' 'IN-2013-CD1228058-41311'
 'IN-2014-JJ1544558-41723' 'IN-2015-MK1816058-42330'
 'IN-2015-LF1718558-42320' 'IN-2012-ST2053058-41150'
 'IN-2013-JG1531058-41447' 'IN-2015-ED1388558-42168'
 'IN-2012-GH1448558-41191' 'IN-2015-CS1250558-42173'
 'IN-2015-Co1264058-42326' 'IN-2013-AB1001558-41284'
 'IN-2014-MZ1751558-41775' 'IN-2013-PF1916558-41550'
 'IN-2012-JG1580558-41061' 'IN-2014-TM2101058-41895'
 'IN-2014-KE1642058-41997' 'IN-2013-ML1741058-41572'
 'IN-2012-HR1483058-41171' 'IN-2015-EM1414058-42194'
 'IN-2015-RR1931558-42225' 'IN-2015-CC1268558-42228'
 'IN-2012-BD1163558-41259' 'IN-2015-KD1634558-42029'
 'IN-2013-AJ1094558-41299' 'IN-2015-LT1711058-42126'
 'IN-2015-CP1234058-42202' 'IN-2013-MC1727558-41611'
 'IN-2015-BS1175558-42064' 'IN-2014-AH1007558-41896'
 'IN-2013-JS1568558-41371' 'IN-2014-GZ1454558-41733'
 'IN-2015-AS1013558-42229' 'IN-2012-CA1277558-41214'
 'IN-2015-NZ1856558-42137' 'IN-2014-SC2002058-41851'
 'IN-2015-CC1267058-42342' 'IN-2014-DW1319558-41857'
 'IN-2013-RW1963058-41405' 'IN-2014-AC1045058-41814'
 'IN-2014-JF1519058-41944' 'ID-2013-VF2171558-41566'
 'IN-2014-AP1072058-41926' 'IN-2015-BG1103558-42253'
 'IN-2014-SP2054558-42003' 'IN-2014-SF2020058-41919'
 'IN-2014-JR1621058-41850' 'IN-2013-ML1826558-41503'
 'IN-2015-HG1484558-42339' 'IN-2013-MA1799558-41565']

In [23]:
import pandas as pd

df = df.drop(columns=['Postal Code'])

- Q no5. how many people from the state 'kanataka' have brought the thing under the category 'technology'?

In [24]:
import pandas as pd

filtered_df = df[(df['State'] == 'Karnataka') & (df['Category'] == 'Technology')]

if 'Customer ID' in df.columns:
    num_people = filtered_df['Customer ID'].nunique()
    print(f"Number of unique customers from Karnataka who bought Technology items: {num_people}")

elif 'Customer Name' in df.columns:
    num_people = filtered_df['Customer Name'].nunique()
    print(f"Number of unique customers from Karnataka who bought Technology items: {num_people}")

else:
    num_orders = len(filtered_df)
    print(f"Number of orders from Karnataka in Technology category: {num_orders}")

Number of unique customers from Karnataka who bought Technology items: 16

- Q no 6. Get the list of countries where the 'Profit' and 'Shipping Cost's are greater than or equal to 2000 and 300 respectively.

In [25]:
import pandas as pd

filtered_df = df[(df['Profit'] >= 2000) & (df['Shipping Cost'] >= 300)]

countries = filtered_df['Country'].unique()

print("Countries where Profit >= 2000 and Shipping Cost >= 300:")
print(countries)

Countries where Profit >= 2000 and Shipping Cost >= 300:
['Italy' 'India' 'Morocco' 'United Kingdom' 'Japan' 'Australia'
 'United States']

- Q no7. Find the list of Indian states where the people have purchased the things under the category Technology.

In [26]:
import pandas as pd

filtered_df = df[(df['Country'] == 'India') & (df['Category'] == 'Technology')]

states = filtered_df['State'].unique()

print("Indian states where people purchased Technology items:")
print(states)

Indian states where people purchased Technology items:
['Haryana' 'Jharkhand' 'Madhya Pradesh' 'Delhi' 'Gujarat' 'Bihar' 'Kerala'
 'Chhattisgarh' 'Tamil Nadu' 'West Bengal' 'Maharashtra' 'Karnataka'
 'Rajasthan' 'Uttar Pradesh' 'Andhra Pradesh' 'Telangana' 'Odisha'
 'Punjab' 'Assam' 'Uttarakhand' 'Puducherry' 'Jammu and Kashmir']

- Q no8. Find the overall rank of "India" where the 'Profit' is maximum under the category 'Technology'.

In [29]:
import pandas as pd

df_tech = df[df['Category'] == 'Technology']

country_profit = df_tech.groupby('Country')['Profit'].sum().reset_index()

country_profit['Rank'] = country_profit['Profit'].rank(method='dense', ascending=False)

country_profit = country_profit.sort_values('Rank')

india_rank = country_profit[country_profit['Country'] == 'India']['Rank'].values[0]

print(f"Overall rank of India (by total Profit under Technology): {int(india_rank)}")

Overall rank of India (by total Profit under Technology): 3

- Q no9. Display the data with min, max, average and std of 'Profit' & 'Sales' for each Sub-Category under each Category

In [28]:
import pandas as pd

df['Profit'] = pd.to_numeric(df['Profit'], errors='coerce')
df['Sales'] = pd.to_numeric(df['Sales'], errors='coerce')

grouped = df.groupby(['Category', 'Sub-Category']).agg({
    'Profit': ['min', 'max', 'mean', 'std'],
    
    'Sales': ['min', 'max', 'mean', 'std']
})

print(grouped)

                               Profit                                   Sales  \
                                  min      max        mean         std    min
Category        Sub-Category
Furniture       Bookcases    -1981.40  2316.51   67.160668  242.859653  35.49
                Chairs       -2211.17  1868.13   40.884170  180.977922  13.55
                Furnishings   -446.40   561.96   14.852746   56.300509   1.89
                Tables       -2750.28  2071.44  -74.429210  402.974096  24.37
Office Supplies Appliances   -3059.82  3979.08   81.264426  303.660140   0.44
                Art           -371.23   269.22   11.889371   32.258717   1.34
                Binders      -3701.89  4946.37   11.785376  154.035558   0.56
                Envelopes     -173.29   279.36   12.085991   31.817112   1.63
                Fasteners     -121.30   127.26    5.322599   14.495325   1.24
                Labels         -63.54   385.38    5.762707   16.206283   1.67
                Paper         -191.47   352.30   16.641257   32.431181   3.38
                Storage       -800.06   802.17   21.472953   94.012889   2.80
                Supplies     -1049.34   327.51    9.372264   45.011510   2.92
Technology      Accessories  -1345.50  1216.02   42.154940  126.787127   0.99
                Copiers      -1672.50  8399.98  116.314723  365.093226  35.46
                Machines     -6599.98  2799.98   39.614872  347.491686  11.51
                Phones       -4088.38  2939.31   64.556878  251.666565   2.97


                                   max        mean         std
Category        Sub-Category
Furniture       Bookcases      5667.87  608.283928  602.487538
                Chairs         5759.96  437.298241  535.097972
                Furnishings    1519.14  122.116725  145.810487
                Tables         5451.30  879.259199  796.402515
Office Supplies Appliances     7958.58  580.100896  798.680507
                Art            1113.02   76.400843   82.090796
                Binders        9892.74   75.149705  288.673033
                Envelopes       604.66   70.891320   70.009550
                Fasteners       271.32   34.407993   29.317593
                Labels          786.48   28.200903   34.178941
                Paper           733.95   69.240455   74.755398
                Storage        2962.68  223.175635  292.236933
                Supplies       8187.65  100.877084  272.156490
Technology      Accessories    3449.88  243.654400  327.224372
                Copiers       17499.95  679.008776  821.101120
                Machines      22638.48  524.266703  928.001009
                Phones         6998.64  508.437489  717.305537